
{% if settings.newsletter_form_action != blank %}
<form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
  <button type="submit" class="btn" name="subscribe" id="subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
</form>


{% else %}
{% form 'customer' %}
{% if form.posted_successfully? %}
<p class="note form-success">{{ 'general.newsletter_form.mailing_list_success_message' | t }}</p>
{% else %}

  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" class="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" >
  <input type="name" value="{% if customer %}{{ customer.first_name }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_first_name' | t }}" name="contact[first_name]" class="first_name" aria-label="{{ 'general.newsletter_form.newsletter_first_name' | t }}" >
  <input type="name" value="{% if customer %}{{ customer.last_name }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_last_name' | t }}" name="contact[last_name]" class="last_name" aria-label="{{ 'general.newsletter_form.newsletter_last_name' | t }}" >
  
  <input type="hidden" name="contact[tags]" value="newsletter">
  <button type="submit" class="btn" name="subscribe" value=""  id="subscribe" >{{ 'general.newsletter_form.submit' | t }}</button>          

{% endif %}
{{ form.errors | default_errors }}
{% endform %}  
{% endif %}