
<div data-section-id="{{ section.id }}"  data-section-type="Footer-model-7" class="footer-model-7">  
  <footer class="site-footer" style="background:{{ section.settings.footer_bg }}; {% if section.settings.footer_bg_image_show %} background-image:url('{{ section.settings.footer_bg_image | img_url: 'master' }}');background-repeat:no-repeat;background-size:cover;background-position:bottom center;{% endif %}">    
    {% assign num_type_footer_columns = 0 %}       
    {% if section.settings.footer_about_section %}
    {% assign num_type_footer_columns = num_type_footer_columns | plus: 1 %}
    {% endif %}
    {% if section.settings.footer_blog_section %}
    {% assign num_type_footer_columns = num_type_footer_columns | plus: 1 %}
    {% endif %}
    {% if section.settings.use_footer_links %}
    {% assign num_type_footer_columns = num_type_footer_columns | plus: 1 %}
    {% endif %}
    {% if section.settings.instagram_use %}
    {% assign num_type_footer_columns = num_type_footer_columns | plus: 1 %}
    {% endif %}
    {% case num_type_footer_columns %}
    {% when 0 %}
    {% when 1 %}
    {% assign footer_num_column_width = 'text-center' %}
    {% when 2 %}
    {% assign footer_num_column_width = 'wide--one-half post-large--one-half large--one-half medium--one-half' %}
    {% when 3 %}
    {% assign footer_num_column_width = 'wide--one-third post-large--one-third large--one-third medium--one-half' %}    
    {% when 4 %}
    {% assign footer_num_column_width = 'wide--one-quarter post-large--one-quarter large--one-half medium--one-half' %}    
    {% endcase %}

    <div class="container">
      {% if section.settings.footer_about_section %}
      <div class="grid__item {{ footer_num_column_width }}">
        <div class="footer-logo">
          {% if section.settings.footer_logo_enable %}          
          <a href="/">
            <img class="normal-footer-logo" src="{{ section.settings.footer_logo | img_url: "200x" }}" alt="{{ shop.name }}" />
          </a>
          {% endif %}  
          {% if section.settings.welcome_text != blank  %}      
          <p style="color:{{ section.settings.footer_text }}">{{ section.settings.welcome_text }}</p> 
          {% endif %}
        </div>
        {% endif %}
        {% if section.settings.footer_contact_enable %}
        <div class="footer_contact_info">
          <ul>
            {% if section.settings.footer_address != blank %} <li class="address"> <h6 style="color:{{ section.settings.footer_text }}"><span class="fa fa-home"></span></h6>  <p style="color:{{ section.settings.footer_text }}"> {{ section.settings.footer_address }}</p><mark></mark> </li>{% endif %}
            {% if section.settings.footer_email != blank or section.settings.footer_email_2 != blank  %}<li><h6 style="color:{{ section.settings.footer_text }}"><span class="fa fa-envelope"></span></h6>
            <p> <a style="color:{{ section.settings.footer_text }}" title="" href="">{{ section.settings.footer_email }}</a> </p> 
            <p> <a style="color:{{ section.settings.footer_text }}" title="" href="">{{ section.settings.footer_email_2 }}</a> </p> 

            </li>{% endif %}
            {% if section.settings.footer_phone != blank or  section.settings.footer_phone_2 != blank %}  <li> <h6 style="color:{{ section.settings.footer_text }}"><span class="fa fa-phone"></span></h6> 
            <p style="color:{{ section.settings.footer_text }};">  {{ section.settings.footer_phone }}</p>
            <p style="color:{{ section.settings.footer_text }}">  {{ section.settings.footer_phone_2 }}</p>
            </li>{% endif %}
            {% if section.settings.footer_fax_no != blank %}<li><h6 style="color:{{ section.settings.footer_text }}"><span class="fa fa-fax"></span></h6>  <p style="color:{{ section.settings.footer_text }}">{{ section.settings.footer_fax_no }}</p><mark></mark></li>{% endif %}
          </ul>
          <div class="footer_social_icons">
            {% if section.settings.footer_social_enable %}      
            {% include 'social-links-type-7' %}
            {% endif %}
          </div>
        </div>

      </div>
      {% endif %}
      {% if section.settings.footer_blog_section %}

      <div class="grid__item {{ footer_num_column_width }}">
        <div class="home-blog">

          {% if section.settings.footer_menu_3_title != blank %}
          <h4 style="color:{{ section.settings.footer_title }}">{{ section.settings.footer_menu_3_title }}</h4>
          {% endif %}
          {% for article in blogs[section.settings.pick_footer_blog].articles limit:  section.settings.blog_limit %}     
          <div class="grid__item {% if forloop.index == 2 %}even{% else %}odd{% endif %}">
            <div class="f_home-blog-image">
              {% if article.image %}
              <img src="{{ article.image.src | img_url: 'small' }}" alt="{{ article.title }}" />
              {% endif %}
            </div>
            <div class="f_home-blog-content">
              <h5><a href="{{ article.url }}">{{ article.title }}</a></h5>
              <div class="f_blog_content">
                {% if section.settings.show_blog_4_date %}
                <p style="color:{{ section.settings.blog_date_clr }};" class="blog-date">
                  <i class="far fa-calendar"></i> <span data-datetime="{{ article.published_at | date: '%Y-%m-%d' }}"><span class="date">{{ article.published_at | date: '%b' }} {{ article.published_at | date: '%d' }} , {{ article.published_at | date: '%Y' }}</span></span>             
                </p>
                {% endif %}
                {% if article.comments_enabled? %}
                {% if section.settings.show_blog_comment %}
                {% assign number_of_comments = article.comments_count %}
                <p style="color:{{ section.settings.blog_comment_clr }};" class="comments-count"><i class="far fa-comment"></i>{{  number_of_comments }}</p>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if section.settings.use_footer_links %}
      <div class="grid__item {{ footer_num_column_width }}">
        {% if section.settings.footer_menu_4_title != blank %}
        <h4 style="color:{{ section.settings.footer_title }}">{{ section.settings.footer_menu_4_title }}</h4>
        {% endif %}
        <ul class="site-footer__links">
          {% for link in linklists[section.settings.footer_menu_4].links %}
          <li><a style="color:{{ section.settings.footer_link }}" href="{{ link.url }}">{{ link.title }}
            {% if link.type == 'collection_link' %}
            <span>[{{ link.object.all_products_count }}]</span>
            {% else %}
            <span>[0]</span>
            {% endif %}	
            </a></li>
          {% endfor %}
        </ul>


      </div>
      {% endif %}

      {% if section.settings.instagram_use %}
      <div class="grid__item {{ footer_num_column_width }}"> 
        <div class="instagram widget">
          {% if section.settings.ins_title != blank %}
          <h4 style="color:{{ section.settings.ins_title_1_clr }};"><span> {{ section.settings.ins_title | escape }}</span></h4> 
          {% endif %}
          <input type="hidden" id="token-{{ section.id }}" value="{{ section.settings.accessToken }}">
          <div class="lush-instagram" data-id="{{ section.id }}">
            <div id="instafeed-{{ section.id }}" class="-{{ section.id }}" data-sort-by="{{ section.settings.sort }}">              
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </footer>
  {% if section.settings.use_footer_bottom %}
  <div class="footer-bottom" style="background:{{ section.settings.footer_bottom_bg }};">
    <div class="container">
      {% if section.settings.copyright != blank %}
      <p style="color:{{ section.settings.copyright_text }};" class="copyright">{{ section.settings.copyright }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}
        {% if section.settings.use_powered_by %}
        {{ powered_by_link }}
        {% endif %}
      </p>
      {% endif %}
      {% if section.settings.footer_show_methods_of_payment %}
      <div class="footer-icons">        
        <ul class="inline-list payment-icons">
                {% if section.settings.payment_icon_1 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_1 | img_url }}" alt="payment_icon_1" /></a></li>{% endif %}
                {% if section.settings.payment_icon_2 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_2 | img_url }}" alt="payment_icon_2" /></a></li>{% endif %}
                {% if section.settings.payment_icon_3 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_3 | img_url }}" alt="payment_icon_3" /></a></li>{% endif %}
                {% if section.settings.payment_icon_4 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_4 | img_url }}" alt="payment_icon_4" /></a></li>{% endif %}
                {% if section.settings.payment_icon_5 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_5 | img_url }}" alt="payment_icon_5" /></a></li>{% endif %}
                {% if section.settings.payment_icon_6 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_6 | img_url}}" alt="payment_icon_6" /></a></li>{% endif %}            
                {% if section.settings.payment_icon_7 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_7 | img_url}}" alt="payment_icon_7" /></a></li>{% endif %}            
                {% if section.settings.payment_icon_8 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_8 |  img_url}}" alt="payment_icon_8" /></a></li>{% endif %}            
                {% if section.settings.payment_icon_9 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_9 | img_url}}" alt="payment_icon_9" /></a></li>{% endif %}            
                {% if section.settings.payment_icon_10 != blank %}<li><a href="/cart"><img src="{{ section.settings.payment_icon_10 | img_url}}" alt="payment_icon_10" /></a></li>{% endif %}            
              </ul>                            
      </div> 
      {% endif %}
    </div>
  </div>
  {% endif %}
  <style>


    .footer-model-7 .short-desc a:hover,.footer-model-7 .site-footer__links li a:hover,.footer-model-7 .site-footer a:hover { color:{{ section.settings.footer_link_hover }} !important; }
    .footer-model-7 .site-footer .social-icons li a:hover span { border-color:{{ section.settings.footer_social_link_hover_border }};background:{{ section.settings.footer_social_link_hover_bg }};color:{{ section.settings.footer_social_link_hover }}; }
    .footer-model-7 .site-footer .social-icons li a span { border-color:{{ section.settings.footer_social_link_border }};color:{{ section.settings.footer_social_link }}; }
    .footer-model-7 .copyright a { color:{{ section.settings.copyright_link }}; }
    .footer-model-7 .copyright a:hover { color:{{ section.settings.copyright_link_hover }}; }
    .footer-model-7 .f_home-blog-content h5 a { color:{{ section.settings.blog_title_clr }}; }
    .footer-model-7 .f_home-blog-content h5 a:hover { color:{{ section.settings.blog_title_hover_clr }}; }
    .footer-model-7 h4 { border-bottom:1px solid {{ section.settings.footer_border }}; }
    .footer-model-7 .site-footer__links li a { border-bottom:1px solid {{ section.settings.footer_links_border }}; }
    .footer-model-7 .site-footer__links li:last-child a { border-bottom:none; }
    .footer-model-7 .site-footer__links li a:before { background:{{ section.settings.footer_link_icon }}; }
    .footer-model-7 .short-desc a i { color:{{ section.settings.footer_link_icon }}; }
    .footer-model-7 .site-footer__links li a:hover:before { background:{{ section.settings.footer_link_hover }}; }
    .footer-model-7 .site-footer__links li a span { color: {{ section.settings.footer_coll_cnt }}; }
    .footer-model-7:before { background-image:url({{ section.settings.border_image | img_url: 'master' }});background-repeat:no-repeat;content:"";float:left;width:100%;height:3px; }
    
   {% if section.settings.instagram_use %}          
    {%- if section.settings.padding != blank or section.settings.margin != blank -%}
    {% assign margin = section.settings.margin | remove: ' ' | split: '-' | join: ' ' %}
    {% assign padding = section.settings.padding | remove: ' ' | split: '-' | join: ' ' %}

    #shopify-section-{{ section.id }} { 
      {%- if section.settings.margin != blank -%} margin: {{margin}};{%- endif -%}
      {%- if section.settings.padding != blank -%}padding: {{padding}}{%- endif -%}    }
    {%- endif -%}   
    
    
    {% if section.settings.use_overlay %}  .lush-instagram .info { background: {{ section.settings.overlay | color_modify: 'alpha', 0.7 }}; } {% endif %}
    
    {% endif %}




  </style>
  {% if section.settings.instagram_use %}
  {{ 'slick.scss' | asset_url | stylesheet_tag }}
  {{ 'instagram.js' | asset_url | script_tag }}
  {% endif %}
</div>

{% schema %}
  {
  "name": "Footer",
  "settings": [

  {
  "type": "color",
  "id": "footer_bg",
  "label": "Footer BG",
  "default":"#000"
  },
{
  "type": "checkbox",
  "id": "footer_bg_image_show",
  "label": "Footer BG Image ?"
  
  },
{
  "type": "image_picker",
  "id": "footer_bg_image",
  "label": "Footer BG Image",
"info": "Size: 1920x875"
  },
{
  "type": "image_picker",
  "id": "border_image",
  "label": "Border Image",
"info": "Size: 1920x3"
  },
  {
  "type": "color",
  "id": "footer_border",
  "label": "Footer Title Border",
  "default":"#000"
  },
  {
  "type": "color",
  "id": "footer_links_border",
  "label": "Footer Links Border",
  "default":"#000"
  },
  {
  "type": "color",
  "id": "footer_title",
  "label": "Footer Title",
  "default":"#000"
  },
  {
  "type": "color",
  "id": "footer_text",
  "label": "Footer Text",
  "default":"#000"
  },
  {
  "type": "color",
  "id": "footer_link",
  "label": "Footer Link",
  "default":"#000"
  },
  {
  "type": "color",
  "id": "footer_link_hover",
  "label": "Footer Link Hover",
  "default":"#ccc"
  },
  {
  "type": "color",
  "id": "footer_link_icon",
  "label": "Footer Link Icon Color",
  "default":"#ccc"
  },
  {
  "type": "color",
  "id": "footer_coll_cnt",
  "label": "Footer Categories Count Color",
  "default":"#ccc"
  },
  {
  "type": "checkbox",
  "id": "footer_logo_enable",
  "label": "Show footer logo"
  },
  {
  "type": "image_picker",
  "id": "footer_logo",
  "label": "Logo image",
"info": "Size: 199x55"
  }, 
  {
  "type": "textarea",
  "id": "welcome_text",
  "label": "Welcome text"
  },
  {
  "type": "checkbox",
  "id": "footer_social_enable",
  "label": "Show social media icons"
  },
  {
  "type": "color",
  "id": "footer_social_link",
  "label": " Social Media Icons Link",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "footer_social_link_hover",
  "label": " Social Media Icons Link Hover",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "footer_social_link_border",
  "label": " Social Media Icons Link Border",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "footer_social_link_hover_border",
  "label": " Social Media Icons Link Hover Border",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "footer_social_link_hover_bg",
  "label": " Social Media Icons Link Hover Bg",
  "default": "#000"
  },
  {
  "type": "checkbox",
  "id": "footer_about_section",
  "label": "Footer about section?",
  "default": true
  },
  {
  "type": "checkbox",
  "id": "footer_blog_section",
  "label": "Footer blog section?",
  "default": true
  },
  {
  "type": "blog",
  "id": "pick_footer_blog",
  "label": "Pick blog"
  },
  {
  "type": "text",
  "id": "footer_menu_3_title",
  "label": "Blog Title "
  },
  {
  "type": "text",
  "id": "blog_limit",
  "label": "Blog Limit"
  },

  {
  "type": "color",
  "id": "blog_title_clr",
  "label": "Blog Tilte Color",
  "default":"#000"
  },
  {
  "type": "color",
  "id": "blog_title_hover_clr",
  "label": "Blog Tilte Hover Color",
  "default":"#000"
  },

  {
  "type": "checkbox",
  "id": "show_blog_4_date",
  "label": "Show blog date?",
  "default": true
  },

  {
  "type": "color",
  "id": "blog_date_clr",
  "label": "Blog Date Color",
  "default":"#000"
  },
  {
  "type": "checkbox",
  "id": "show_blog_comment",
  "label": "Show blog comment?",
  "default": true
  },
  {
  "type": "color",
  "id": "blog_comment_clr",
  "label": "Blog Comment Color",
  "default":"#000"
  },

  {
  "type": "checkbox",
  "id": "use_footer_links",
  "label": "Show footer menu 4",
  "default": true
  },
  {
  "type": "text",
  "id": "footer_menu_4_title",
  "label": "Heading",
  "default": "Footer menu 4"
  },
  {
  "type": "link_list",
  "id": "footer_menu_4",
  "label": "Footer link"
  },

  {
  "type": "checkbox",
  "id": "footer_contact_enable",
  "label": "Show contact information"
  },
  {
  "type": "textarea",
  "id": "footer_address",
  "label": "Address"
  },

  {
  "type": "text",
  "id": "footer_email",
  "label": "Footer email 1"
  },
  {
  "type": "text",
  "id": "footer_email_2",
  "label": "Footer email 2"
  },

  {
  "type": "text",
  "id": "footer_phone",
  "label": "Footer phone 1"
  },
  {
  "type": "text",
  "id": "footer_phone_2",
  "label": "Footer phone 2"
  },

  {
  "type": "text",
  "id": "footer_fax_no",
  "label": "Footer fax"
  },  

 {
  "type": "header",
  "content": "Instagram"
  },
 {
        "type": "checkbox",
        "id": "instagram_use",
        "label": "Use Insagram?"
        
      },
      {
        "type": "text",
        "id": "accessToken",
        "label": "Access Token:",
        "default": "3311466850.1677ed0.84b4d7bf4b6f49b4887a8fe93707d9b5",
        "info": "Use when Get Image from: 'Access Token'. [Where do I find Access Token?](http:\/\/instagram.pixelunion.net)"
      },

{
      "type": "image_picker",
      "id": "heading_image",
      "label": "Image",
	  "info": "Size: 105x17"
      
    },
      {
        "type": "text",
        "id": "ins_title",
        "label": "Title",
        "default": "Instagram Feed"
      },
{
        "type": "color",
        "id": "ins_title_1_clr",
        "label": "Heading",
        "default": "#000"
        },
       
      {
        "type": "select",
        "id": "sort",
        "label": "Sort by",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "none (default)."
          },
          {
            "value": "most-recent",
            "label": "Newest to oldest."
          },
          {
            "value": "least-recent",
            "label": "Oldest to newest."
          },
          {
            "value": "most-liked",
            "label": "Highest # of likes to lowest."
          },
          {
            "value": "least-liked",
            "label": "Lowest # likes to highest."
          },
          {
            "value": "most-commented",
            "label": "Highest # of comments to lowest."
          },
          {
            "value": "least-commented",
            "label": "Lowest # of comments to highest."
          },
          {
            "value": "random",
            "label": "Random order."
          }
        ]
      },
      
		{
       "type": "header",
       "content": "=== settings Color"
      },
{
        "type": "checkbox",
        "id": "use_overlay",
        "label": "Image Overlay ?",
        "default": true
      },
		{
        "type": "color",
        "id": "overlay",
        "label": "Image Overlay",
        "default": "#000"
      },
  {
  "type": "checkbox",
  "id": "use_footer_bottom",
  "label": "Use footer bottom?"
  },
  {
  "type": "color",
  "id": "footer_bottom_bg",
  "label": "Footer bottom bg",
  "default":"#000"
  },
  {
  "type": "color",
  "id": "copyright_text",
  "label": "Copy Right Text Color",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "copyright_link",
  "label": "Copy Right Link Color",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "copyright_link_hover",
  "label": "Copy Right Link Hover Color",
  "default": "#000"
  },
  {
  "type": "textarea",
  "id": "copyright",
  "label": "Copy Right Text",
  "default": "Copyright"
  },
  {
  "type": "checkbox",
  "id": "use_powered_by",
  "label": "Use Powered By"
  },
  {
  "type": "checkbox",
  "id": "footer_show_methods_of_payment",
  "label": "Show payment method",
  "default": true
  },
  
  {
  "type": "image_picker",
  "id": "payment_icon_1",
  "label": "Image",
"info": "Size: 55x35"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_2",
  "label": "Image",
"info": "Size: 55x35"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_3",
  "label": "Image",
"info": "Size: 55x35"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_4",
  "label": "Image",
"info": "Size: 55x35"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_5",
  "label": "Image",
"info": "Size: 55x35"
  },      
  {
  "type": "image_picker",
  "id": "payment_icon_6",
  "label": "Image",
"info": "Size: 55x35"
  }, 
{
  "type": "image_picker",
  "id": "payment_icon_7",
  "label": "Image",
"info": "Size: 55x35"
  }, 
{
  "type": "image_picker",
  "id": "payment_icon_8",
  "label": "Image",
"info": "Size: 55x35"
  }, 
{
  "type": "image_picker",
  "id": "payment_icon_9",
  "label": "Image",
"info": "Size: 55x35"
  }, 
{
  "type": "image_picker",
  "id": "payment_icon_10",
  "label": "Image",
"info": "Size: 55x35"
  }
  ]
}
{% endschema %}
