
<div class="grid--full site-header__menubar"> 
  <div class="container">

    {% if section.settings.display_search %} 
    <div class="header-search wide--hide post-large--hide large--hide medium--hide small-show">
      <form action="/search" method="get" class="search-bar__table-cell search-bar__form" role="search">							
        {% if settings.show_search_prt %} 
                      <input type="hidden" name="type" value="product">  
                      {% endif %}  
        <input type="text" id="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" class="search-bar__input sb-search-input">
        <button class="sb-search-submit" type="submit" value=""><i class="fa fa-search"></i></button>
      </form>

    </div>
    {% endif %}

    <div class="menubar_inner">
      <div class="header_top">
        {% if template == 'index' %}
        <h1 class="grid__item site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {% else %}
          <div class="h1 grid__item site-header__logo" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
            {% if settings.logo_use_image %}
            <a href="/" style="max-width: {{ settings.logo_max_width }}px;">
              <img class="normal-logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
            {% else %}
            <a class="logo_name" href="/">{{ shop.name }}</a>
            {% endif %}
            {% if template == 'index' %}
            </h1>
          {% else %}
          </div>
        {% endif %}   
      </div>
      
      <div class="header-mobile">
        <div class="menu-block visible-phone"><!-- start Navigation Mobile  -->
          <div id="showLeftPush">
            <i class="fa fa-bars" aria-hidden="true">  </i>
          </div>
        </div><!-- end Navigation Mobile  --> 
      </div>  


<script type="text/javascript">
  $(".header-all--collections ul").on("click", ".init", function() {
    $(this).closest(".header-all--collections ul").children('li:not(.init)').toggle();
  });

  var allOptions = $(".header-all--collections ul").children('li:not(.init)');
  $(".header-all--collections ul").on("click", "li:not(.init)", function() {
    allOptions.removeClass('selected');
    $(this).addClass('selected');
    $(".header-all--collections ul").children('.init').html($(this).html());
    allOptions.toggle();
  });






  $(".header-account_links ul").on("click", ".init", function() {
    $(this).closest(".header-account_links ul").children('li:not(.init)').toggle();
  });

  var allOptions = $(".header-account_links ul").children('li:not(.init)');
  $(".header-account_links ul").on("click", "li:not(.init)", function() {
    allOptions.removeClass('selected');
    $(this).addClass('selected');
    $(".header-account_links ul").children('.init').html($(this).html());
    allOptions.toggle();
  });


  $('.init').click(function() {
    if($('.init').hasClass('active')) {       
      $(this).removeClass('active');//.addClass('blue');
    }
    else{
      $(this).addClass('active');//.addClass('red');
    }
  });



</script>
      <div class="slidersearch search-categories">
        <div class="search-categories-section">
          {% if section.settings.display_all_category %} 
          <div class="header-all--collections list-unstyled">
            {%- assign search_linklist = section.settings.all_categories %}
            {% if linklists[search_linklist].links.size > 0 %}
            <ul class="inline-list">
              <li class="init">All Categories</li>
              {% for link in linklists[search_linklist].links %}
              <li data-value="value {{ forloop.index }}"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}          
          </div>
          {% endif %}


          {% if section.settings.display_search %} 
          <div class="header-search small--hide">
            <form action="/search" method="get" class="search-bar__table-cell search-bar__form" role="search">							
               {% if settings.show_search_prt %} 
                      <input type="hidden" name="type" value="product">  
                      {% endif %} 
              <input type="text" id="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" class="search-bar__input sb-search-input">
              <button class="sb-search-submit" type="submit" value=""><i class="fa fa-search"></i></button>
            </form>

          </div>
          {% endif %}
        </div>
      </div>


      <div class="header-shipping-details">
        <div class="header-shipping-icons">
          {% if section.settings.ship_1_icon != blank %}
          <div class="ship-icon"><img src="{{section.settings.ship_1_icon | img_url : '40x40' }}" alt="{{section.settings.ship_1_title}}" title="{{section.settings.ship_1_title}}"></div>
          {% endif %}
          {% if section.settings.ship_1_title != blank %}
          <div class="ship-detail">
            <h6>{{section.settings.ship_1_title}}</h6>
            <p>{{section.settings.ship_1_subtitle}}</p>
          </div>
          {% endif %}
        </div>
        <div class="header-shipping-icons">
          {% if section.settings.ship_2_icon != blank %}
          <div class="ship-icon"><img src="{{section.settings.ship_2_icon | img_url : '40x40' }}" alt="{{section.settings.ship_2_title}}" title="{{section.settings.ship_2_title}}"></div>
          {% endif %}
          {% if section.settings.ship_2_title != blank %}
          <div class="ship-detail">
            <h6>{{section.settings.ship_2_title}}</h6>
            <p>{{section.settings.ship_2_subtitle}}</p>
          </div>
          {% endif %}
        </div>
      </div>



      {% if section.settings.top_promo_image_1 != blank %}
      <div class="grid__item wide--hide post-large--hide large--hide medium--hide small--show promo_img">

        {% if section.settings.top_promo_link_1 != blank %}
        <a href="{{ section.settings.top_promo_link_1 }}">
          {% endif %}
          <img src="{{ section.settings.top_promo_image_1 | img_url: 'master' }}" />
          {% if section.settings.top_promo_link_1 != blank %}
        </a>
        {% endif %}


      </div>
      {% endif %}
    </div>
  </div>
</div>

  
  <style> 

  
    /* Logo block */
    .header-type-12 .site-header__menubar { background: {{ section.settings.logo_bar_bg }};}    
    .header-type-12 .site-header__logo a,.header-type-12 .header-mobile #showLeftPush  { color:{{section.settings.logo_text }};}
    .header-type-12 .site-header__logo a:hover,.header-type-12 .header-mobile #showLeftPush:hover  { color:{{section.settings.logo_hover_text }};}    

    /* Menu  block */
    .header-type-12 .menu-tool,.mobile-nav-section {background: {{ section.settings.menubar_bg }};}
    .header-type-12 .menu-tool ul li {color: {{ section.settings.menubar_text }};}
    .header-type-12 .menu-tool ul li a,.mobile-nav-section .mobile-nav-trigger {color:{{section.settings.menubar_links}};}  
    .header-type-12 .menu-tool ul li a:hover,.header-type-12 .menu-tool .site-nav > li > a.current:hover {color:{{section.settings.menubar_links_hover}};} 
    .header-type-12 .menu-tool .site-nav >  li > a.current {color:{{section.settings.menu_active}};} 
    .header-type-12 .site-nav-dropdown,#MobileNav,.mobile-nav__sublist { background: {{ section.settings.menubar_dropdown_bg }};}
    .header-type-12 .site-nav-dropdown .inner > a {color: {{ section.settings.menubar_dropdown_caption }};}    
    .header-type-12 .site-nav-dropdown .inner > a:hover {color: {{ section.settings.menubar_dropdown_caption_hover }};}    
    .header-type-12 .site-nav-dropdown .inner .dropdown a,.header-type-12 .menu-tool .site-nav .site-nav-dropdown li a,.header-type-12 .site-nav .widget-featured-product .product-title,.header-type-12 .site-nav .widget-featured-product .widget-title h3,#MobileNav a,.mobile-nav__sublist a,.site-nav .widget-featured-nav .owl-prev a,.site-nav .widget-featured-nav .owl-next a  {color: {{ section.settings.menubar_dropdown_links }};}
    .header-type-12 .site-nav-dropdown .inner .dropdown a:hover,.header-type-12 .menu-tool .site-nav .site-nav-dropdown li a:hover,.header-type-12 .site-nav-dropdown .inner .dropdown a.current,.header-type-12 .menu-tool .site-nav .site-nav-dropdown li a.current,.header-type-12 .site-nav .widget-featured-product .product-title:hover,#MobileNav a.current,.mobile-nav__sublist a.current,.site-nav .widget-featured-nav .owl-prev a:hover,.site-nav .widget-featured-nav .owl-next a:hover {color: {{ section.settings.menubar_dropdown_links_hover }};}    
      /* Dropdown block */
    .header-type-12 .menubar-section #Togglemodal i {color: {{ section.settings.dropdown_icon }};}
    .header-type-12 .menubar-section #Togglemodal i:hover {color: {{ section.settings.dropdown_icon_hover }};}
    .header-type-12 #slidedown-modal {background: {{ section.settings.dropdown_bg }};}
    .header-type-12 #slidedown-modal ul li a {color:{{section.settings.dropdown_link}};} 
    .header-type-12 #slidedown-modal ul li a:hover {color:{{section.settings.dropdown_hover_link}};} 


    /* Search block */     
    .header-type-12 .header-search input#search {color:{{section.settings.search_text }};background:{{section.settings.search_bg }};} 
    .header-type-12 .header-search span, .header-type-12 .header-search .res_btn {color:{{section.settings.logo_text}};background:none;} 
    .header-type-12 .header-search span:hover, .header-type-12 .header-search .res_btn:hover {color:{{section.settings.logo_hover_text }};background:none;} 
    .header-type-12 .search-bar__form  {  }
    .header-type-12 .header-search button { color:{{section.settings.search_btn_text }};background:{{ section.settings.search_btn_bg }};} 
    .header-type-12 .header-search button:hover { color:{{section.settings.search_btn_text_hvr}};background:{{ section.settings.search_bg_hover }};} 
    .header-type-12 .header-search  { background:{{section.settings.search_bg }};}
    .header-type-12 .header-all--collections { background:{{section.settings.categories_bg }};color:{{ section.settings.categories_text }};}
    .header-type-12 .header-all--collections ul li a { color:{{ section.settings.categories_text }}; }
    .header-type-12 .header-search input#search::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
      color:{{section.settings.search_text }};
    }
    .header-type-12 .header-search input#search::-moz-placeholder { /* Firefox 19+ */
      color:{{section.settings.search_text }};
    }
    .header-type-12 .header-search input#search:-ms-input-placeholder { /* IE 10+ */
      color:{{section.settings.search_text }};
    }
    .header-type-12 .header-search input#search:-moz-placeholder { /* Firefox 18- */
      color:{{section.settings.search_text }};
    }

       

    /* Header borders */
    {% if section.clr_border_image %}   .header-type-12 .site-header__menubar:after,.header-type-12 .is-sticky .menubar-section:after { background-image:url({{ section.settings.border_image | img_url: 'master' }});background-repeat:no-repeat;content:"";float:left;width:100%;height:3px; } {% endif %}
    .header-type-12 .top_bar ul li:last-child,.header-type-12 .top_bar li:last-child span,.header-type-12 .top_bar li:last-child a { border-right:none; }

    .header-all--collections ul { 
      height: 30px;
      width: 100%;float:left;

    }
    .header-all--collections ul li { padding: 5px 10px; z-index: 2; }

    .header-all--collections li.init { cursor: pointer; }


     .header-shipping-icons .ship-detail h6  {color:{{section.settings.shipping_title_clr}};}

    .header-shipping-icons .ship-detail p {color:{{section.settings.shipping_subtitle_clr}};}
    
    .header-type-12 .dt-sc-toggle-content { background: {{ section.settings.menubar_dropdown_bg }}; }
    .header-type-12 .dt-sc-toggle-content.header-account_links ul li a { color:{{ section.settings.menubar_dropdown_links }}; }
        .header-type-12 .dt-sc-toggle-content.header-account_links ul li a:hover { color:{{ section.settings.menubar_dropdown_links_hover }}; }
    .header-type-12 .is-sticky .header-bar__module.cart .baskettop a.icon-cart-arrow { color:{{ section.settings.menubar_links }}; }
    .header-type-12 .is-sticky .header-bar__module.cart .baskettop a.icon-cart-arrow:hover {color:{{ section.settings.menubar_links_hover }}; } 
    
    
 
  
.header-mobile #showLeftPush {  display: block;font-size: 20px;text-align: right;  cursor: pointer; }


    
    
  </style> 

{% schema %}
{
"name": "Header",
"settings": [
{
"type":"checkbox",
"id": "display_search",
"label": "Display search"	
},
{
"type":"checkbox",
"id": "display_all_category",
"label": "Display categories"	
},
{
"type": "link_list",
"id": "all_categories",
"label": "Pick Linked list",
"default": "main-menu"
},
{
"type": "color",
"id": "categories_bg",
"label": "Categories Background",
"default": "#fff"
},
{
"type": "color",
"id": "categories_text",
"label": "Categories Text",
"default": "#000"
},

{
"type": "header",
"content": "Logo Block"
},
{
"type": "color",
"id": "logo_bar_bg",
"label": "Background",
"default": "#000"
},
{
"type": "color",
"id": "logo_text",
"label": "Text",
"default": "#000"
},
{
"type": "color",
"id": "logo_hover_text",
"label": "Hover text",
"default": "#000"
},

{
"type": "header",
"content": "Search Block"
},
{
"type": "color",
"id": "search_bg",
"label": "Background",
"default": "#fff"
},

{
"type": "color",
"id": "search_btn_bg",
"label": "Button Bg",
"default": "#35b8f4"
},
{
"type": "color",
"id": "search_btn_text",
"label": "Button Text",
"default": "#35b8f4"
},
{
"type": "color",
"id": "search_btn_text_hvr",
"label": "Button Text Hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "search_bg_hover",
"label": "Button Bg Hover",
"default": "#35b8f4"
},

{
"type": "color",
"id": "search_text",
"label": "Text",
"default": "#000"
},
{
"type": "header",
"content": "shipping Information"
},
{
"type": "image_picker",
"id": "ship_1_icon",
"label": "Icon Image"
},
{
"type": "text",
"id": "ship_1_title",
"label": "Heading",
"default": "Title"
},
{
"type": "text",
"id": "ship_1_subtitle",
"label": "Sub Heading",
"default": "Sub Title"
},
{
"type": "image_picker",
"id": "ship_2_icon",
"label": "Icon Image"

},
{
"type": "text",
"id": "ship_2_title",
"label": "Heading",
"default": "Title"
},
{
"type": "text",
"id": "ship_2_subtitle",
"label": "Sub Heading",
"default": "Sub Title"
},
{
"type": "color",
"id": "shipping_title_clr",
"label": "Shipping Title Color",
"default": "#35b8f4"
},
{
"type": "color",
"id": "shipping_subtitle_clr",
"label": "Shipping Sub Title Color",
"default": "#35b8f4"
},
{
"type": "header",
"content": "Menu Block"
},
{
"type": "color",
"id": "menubar_bg",
"label": "Background",
"default": "#fff"
}, 

{
"type": "color",
"id": "menubar_links",
"label": "Links",
"default": "#000"
},
{
"type": "color",
"id": "menubar_links_hover",
"label": "Hover links",
"default": "#000"
},
{
"type": "color",
"id": "menu_active",
"label": "Active menu",
"default": "#35b8f4"
},
{
"type": "color",
"id": "menubar_dropdown_bg",
"label": "Dropdown menu background",
"default": "#fff"
},
{
"type": "color",
"id": "menubar_dropdown_caption",
"label": "Dropdown menu title",
"default": "#000"
},
{
"type": "color",
"id": "menubar_dropdown_caption_hover",
"label": "Dropdown menu title hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "menubar_dropdown_links",
"label": "Dropdown menu links",
"default": "#000"
},
{
"type": "color",
"id": "menubar_dropdown_links_hover",
"label": "Dropdown menu links hover",
"default": "#35b8f4"
}
]
}
{% endschema %}


