
<div class="grid--full site-header__menubar"> 
  <div class="container">
    <div class="menu_icon_section"> 
      {% include 'logo' %} 
      <div class="menu_icon_container">

        <ul class="menu_icon grid__item wide--one-sixth post-large--one-sixth large--one-sixth">

          <li>
            <div class="header-mobile">
              <div class="menu-block visible-phone"><!-- start Navigation Mobile  -->
                <div id="showLeftPush">
                  <i class="fa fa-bars" aria-hidden="true"> </i>
                </div>
              </div><!-- end Navigation Mobile  --> 
            </div> 

          </li>


          {% if section.settings.display_minicart %}
          <li class="header-bar__module cart header_cart">
            {% include 'mini-cart' %} 
          </li> 
          {% endif %} 



          {% if settings.display_currency %} 
          <li class="header_currency">
            <ul class="tbl-list">
              <li class="currency dropdown-parent uppercase currency-block">            
                {% include 'currencies-switcher' %}
              </li>
            </ul>
          </li>  
          {% endif %}
          {% if section.settings.display_search %}    

          <li class="header-search">
            <span class="fas fa-search searchopen " onclick="showhide()" id="icon"></span>

            <div id="toggle-search" style="display:none">
              <form action="/search" method="get" >	
                {% if settings.show_search_prt %} 
                      <input type="hidden" name="type" value="product">  
                      {% endif %}
                <input type="text" id="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" class="search-bar__input ">
                <button class="btn" type="submit" value=""><i class="fas fa-search"></i></button>

              </form>
            </div>

          </li>

          <script type="text/javascript">
            function showhide()
            {
              var div = document.getElementById("toggle-search");
              if (div.style.display !== "none") {
                $('#icon').addClass("searchopen");
                $('#icon').removeClass("searchclose");
                div.style.display = "none";
              }
              else {
                div.style.display = "block";
                $('#icon').removeClass("searchopen");
                $('#icon').addClass("searchclose");
              }
            }
          </script>

          {% endif %} 

          {% if shop.customer_accounts_enabled or section.settings.display_wishlist %}

          <li>
            <div class="menu_bar_right">
                    <div class="slidedown_section">
        <a  id="Togglemodal" title="{{ 'layout.customer.log_in' | t }}" class="icon-cart-arrow"><i class="fas fa-user"></i></a>
        <div id="slidedown-modal">
          <div class="header-panel-top">
            <ul>
             
              {% if shop.customer_accounts_enabled or section.settings.display_wishlist %}
              <li>
                    <div class="customer_account">                          
                          <ul>
                            {% if shop.customer_accounts_enabled %}
                            {% if customer %}
                            <li>
                              <a href="/account" title="{{ 'layout.customer.account' | t }}"><i class="fas fa-user" aria-hidden="true"></i> {{ 'layout.customer.account' | t }}</a>
                            </li>
                            <li class="logout-link">
                              <a href="/account/logout" title="{{ 'layout.customer.log_out' | t }}" data-value="value 1"><i class="fas fa-sign-out-alt"></i></a>
                            </li>
                            {% else %}
                            <li>
                              <a href="/account/login" title="{{ 'layout.customer.log_in' | t }}"> <i class="fas fa-sign-in-alt icons" aria-hidden="true"></i> {{ 'layout.customer.log_in' | t }}</a>
                            </li>
                            <li>
                              <a href="/account/register" title="{{ 'layout.customer.create_account' | t }}">  <i class="fas fa-user" aria-hidden="true"></i> {{ 'layout.customer.create_account' | t }}</a>
                            </li>          
                            {% endif %}  
                            {% endif %} 
							{% if section.settings.display_wishlist %}
                            <li>
                              <a href="/pages/wishlist" title="{{ 'products.wishlist.wishlist_name' | t }}"> <i class="far fa-heart" aria-hidden="true"></i> {{ 'products.wishlist.wishlist_name' | t }}</a>
                            </li>
                      {% endif %}
                          </ul>
                        </div>     
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>


<style> 

  .header-type-5  .notification_bar .notification_text  span { color: {{ section.settings.notification_text_clr }}; }

  .header-type-5 .header-top a.close { background: {{ section.settings.stripe_icon }}; }  
  .header-type-5 .header-top a.close:hover { background: {{ section.settings.stripe_icon_hover }}; }        
  .header-type-5 .header-top ul li { font-size:14px; }    

  /* Top block */
  .header-type-5 .top_bar { background: {{ section.settings.top_bar_bg }}; }
  .header-type-5 .top_bar li { color:{{section.settings.top_bar_text}};}     
  .header-type-5 .top_bar a { color:{{section.settings.top_bar_links }};}    
  .header-type-5 .top_bar a:hover, .header-type-5 .top_bar a:hover span { color:{{section.settings.top_bar_link_hover }};}   


  /* .header-type-5 .top_bar li a,.header-type-5 .top_bar li span,.top-bar-type-5.top_bar .tbl-list>li.currency>.dropdown-toggle { border-right:1px solid {{ section.settings.top_border_between_bars }}; }*/
  .header-type-5 .top_bar ul li:last-child,.header-type-5 .top_bar li:last-child span { border-right:none; }


  /* Logo block */
  .header-type-5 .site-header__menubar { background: {{ section.settings.logo_bar_bg }};{% if section.settings.logo_bg_img != blank %}background-image:url({{ section.settings.logo_bg_img | img_url: '1920X' }});background-repeat:no-repeat;background-position:top center;{% endif %}}    
  .header-type-5 .site-header__logo a,.header-type-5 .header-mobile #showLeftPush { color:{{section.settings.logo_text }};}
  .header-type-5 .site-header__logo a:hover,.header-type-5 .header-mobile #showLeftPush:hover { color:{{section.settings.logo_hover_text }};}    

  /* Menu  block */
  .header-type-5 .menu-tool,.mobile-nav-section {background: {{ section.settings.menubar_bg }};}
  .header-type-5 .menu-tool ul li {color: {{ section.settings.menubar_text }};}
  .header-type-5 .menu-tool ul li a,.mobile-nav-section .mobile-nav-trigger,.header-type-5 .is-sticky .header-bar__module a,.header-type-5  .is-sticky .header-bar__module.cart .baskettop a.icon-cart-arrow {color:{{section.settings.menubar_links}};}  
  .header-type-5 .menu-tool ul li a:hover,.header-type-5 .menu-tool .site-nav > li > a.current:hover,.header-type-5 .is-sticky .header-bar__module a:hover,.header-type-5  .is-sticky .header-bar__module.cart .baskettop a.icon-cart-arrow:hover {color:{{section.settings.menubar_links_hover}};} 
  .header-type-5 .menu-tool .site-nav >  li > a.current {color:{{section.settings.menu_active}};} 
  .header-type-5 .site-nav-dropdown,#MobileNav,.mobile-nav__sublist { background: {{ section.settings.menubar_dropdown_bg }};}
  .header-type-5 .site-nav-dropdown .inner > a {color: {{ section.settings.menubar_dropdown_caption }};}    
  .header-type-5 .site-nav-dropdown .inner > a:hover {color: {{ section.settings.menubar_dropdown_caption_hover }};}    
  .header-type-5 .site-nav-dropdown .inner .dropdown a,.header-type-5 .menu-tool .site-nav .site-nav-dropdown li a,.header-type-5 .site-nav .widget-featured-product .product-title,.header-type-5 .site-nav .widget-featured-product .widget-title h3,#MobileNav a,.mobile-nav__sublist a,.site-nav .widget-featured-nav .owl-prev a,.site-nav .widget-featured-nav .owl-next a  {color: {{ section.settings.menubar_dropdown_links }};}
  .header-type-5 .site-nav-dropdown .inner .dropdown a:hover,.header-type-5 .menu-tool .site-nav .site-nav-dropdown li a:hover,.header-type-5 .site-nav-dropdown .inner .dropdown a.current,.header-type-5 .menu-tool .site-nav .site-nav-dropdown li a.current,.header-type-5 .site-nav .widget-featured-product .product-title:hover,#MobileNav a.current,.mobile-nav__sublist a.current,.site-nav .widget-featured-nav .owl-prev a:hover,.site-nav .widget-featured-nav .owl-next a:hover {color: {{ section.settings.menubar_dropdown_links_hover }};}    

  /* Dropdown block */
  .header-type-5 .menu_icon #Togglemodal i {color: {{ section.settings.dropdown_icon }};}
  .header-type-5 .menu_icon #Togglemodal i:hover {color: {{ section.settings.dropdown_icon_hover }};}
  .header-type-5 #slidedown-modal {background: {{ section.settings.dropdown_bg }};}
  .header-type-5 #slidedown-modal ul li a {color:{{section.settings.dropdown_link}};} 
  .header-type-5 #slidedown-modal ul li a:hover {color:{{section.settings.dropdown_hover_link}};} 


  /* Search block */     
  .header-type-5 .header-search input#search {color:{{section.settings.search_text }};} 
  .header-type-5 .header-search span,.header-type-5 .search-bar__form button.res_btn  {color:{{section.settings.search_icon}};} 
  .header-type-5 .header-search span:hover,.header-type-5 .search-bar__form button.res_btn:hover {color:{{section.settings.search_icon_hover }};} 
  .header-type-5 .header-search input[type="text"] { border:1px solid {{ section.settings.border_between_bars}}; background:{{section.settings.search_bg }};}
  .header-type-5 .header-search .btn { color:{{section.settings.Btn_text }};background:{{ section.settings.search_btn_bg }};}
  .header-type-5 .header-search .btn:hover { color:{{section.settings.search_btn_hover }};background:{{ section.settings.search_btn_bghover }};}
  .header-type-5 .search-bar__form button.res_btn { background:none;border:none;height:auto; }

  .header-type-5 .header-search input#search::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
    color:{{section.settings.search_text }};
  }
  .header-type-5 .header-search input#search::-moz-placeholder { /* Firefox 19+ */
    color:{{section.settings.search_text }};
  }
  .header-type-5 .header-search input#search:-ms-input-placeholder { /* IE 10+ */
    color:{{section.settings.search_text }};
  }
  .header-type-5 .header-search input#search:-moz-placeholder { /* Firefox 18- */
    color:{{section.settings.search_text }};
  }

  /* Cart Summary block */
  .header-type-5 a.icon-cart-arrow ,.header-type-5 #minicart_total  {color: {{ section.settings.minicart_icon }};}
  .header-type-5 a.icon-cart-arrow:hover  {color: {{ section.settings.minicart_icon_hover }};}
  .header-type-5 #slidedown-cart .actions, .header-type-5  #slidedown-cart  {background: {{ section.settings.minicart_bg }};}
  .header-type-5 .header-bar__module p {color: {{ section.settings.minicart_text }};}
  .header-type-5 .header-bar__module a {color:{{section.settings.minicart_link }};}  
  .header-type-5 .header-bar__module a:hover {color:{{section.settings.minicart_link_hover}};} 
  .header-type-5 .header-bar__module .btn {color:{{section.settings.minicart_btn_text}};background: {{ section.settings.minicart_btn_bg }};} 
  .header-type-5 .header-bar__module .btn:hover {color:{{section.settings.minicart_btn_hover_text}};background: {{ section.settings.minicart_btn_hover_bg }};} 
  .header-type-5  #slidedown-cart .total .price,.header-type-5 #slidedown-cart ul li .cart-collateral {color:{{section.settings.minicart_total }};} 
  .header-type-5 #minicart_total:before  {background:{{section.settings.minicart_icon }};} 
  .header-type-5 #slidedown-cart li { border-bottom:1px solid {{ section.settings.border_between_bars}}; }

  /* .header-type-5 .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount { background: {{ section.settings.minicart_count_bg }};color:{{section.settings.minicart_count }};} */
  /* .header-type-5 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover #cartCount { background: {{ section.settings.minicart_count_hover_bg }};color:{{section.settings.minicart_count_hover_text }};} */


  /* Currency block */

  .header-type-5 a.currency_wrapper.dropdown-toggle {color: {{ section.settings.currency_icon }};}
  .header-type-5 .tbl-list>li.currency>.dropdown-toggle:hover  {color: {{ section.settings.currency_icon_hover }};}
  .header-type-5 .tbl-list>li.currency .flag-dropdown-menu  {background: {{ section.settings.currency_bg }};}
  .header-type-5 .flag-dropdown-menu li a span {color: {{ section.settings.currency_link }};}
  .header-type-5 .flag-dropdown-menu li a:hover span {color:{{section.settings.currency_hover_link }};}  



  .header-type-5 .header_currency ul select,.header-type-5 .header_currency ul li.currency .selector-arrow::after {color:{{section.settings.currency_icon}};}   
  .header-type-5 .header_currency ul select:hover {color:{{section.settings.currency_icon_hover}};}  
  .header-type-5 .header_currency ul li.currency:hover:after {border-top-color:{{section.settings.currency_icon_hover}};}
  .header-type-5 .header_currency ul li.currency:after {border-top-color:{{section.settings.currency_icon}};}
  .header-type-5 .header_currency option {background:{{section.settings.currency_bg}};color:{{section.settings.currency_link}};}


  /* Header borders */
  .header-type-5 .menu-tool  { }
  .header-type-5 .site-nav>li>a:before { }

  .header-type-5 .menu_icon .customer_account li a {color:{{section.settings.login_txt_clr}};}

  .header-type-5 .menu_icon .customer_account li a:hover {color:{{section.settings.login_hovertxt_clr}};}

  .header-type-5 .notification_text .btn {background:{{section.settings.top_bar_btn_bg}};color:{{section.settings.top_bar_btn_txt}};}


  .header-type-5 .notification_text .btn:hover {background:{{section.settings.top_bar_btn_hoverbg}};color:{{section.settings.top_bar_btn_hovertxt}};}

  .header-type-5 .header-bar__module.cart .baskettop a.icon-cart-arrow {color:{{section.settings.minicart_count}};}

  .header-type-5 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover {color:{{section.settings.minicart_icon_hover}};}

  /* General styles for all menus */


 

</style> 


{% schema %}
{
"name": "Header",
"settings": [ 


{
"type":"checkbox",
"id": "display_search",
"label": "Display Search"	
},

{
"type": "checkbox",
"id": "display_minicart",
"label": "Display minicart"
},

{
"type": "checkbox",
"id": "display_wishlist",
"label": "Display wishlist"
},  

{
"type": "header",
"content": "Login"
},
{
"type": "color",
"id": "login_txt_clr",
"label": "Login Text COlor",
"default": "#fff"
},
{
"type": "color",
"id": "login_hovertxt_clr",
"label": "Login Text Hover COlor",
"default": "#fff"
},

{
"type": "header",
"content": "Logo Block"
},
{
"type": "image_picker",
"id": "logo_bg_img",
"label": "Bg",
"info": "Size: 1920x1217"

},
{
"type": "color",
"id": "logo_bar_bg",
"label": "Background",
"default": "#000"
},
{
"type": "color",
"id": "logo_text",
"label": "Text",
"default": "#000"
},
{
"type": "color",
"id": "logo_hover_text",
"label": "Hover text",
"default": "#000"
},
{
"type": "header",
"content": "Border Block"
},
{
"type": "color",
"id": "border_between_bars",
"label": "Border lines",
"default": "#e4e4e4"
},
{
"type": "header",
"content": "Currency Block"
},

{
"type": "color",
"id": "currency_icon",
"label": "Curreny Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "currency_icon_hover",
"label": "Text hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "currency_bg",
"label": "Curreny Background",
"default": "#fff"
},
{
"type": "color",
"id": "currency_link",
"label": "Currency Links",
"default": "#000"
},
{
"type": "header",
"content": "Dropdown Block"
},
{
"type": "color",
"id": "dropdown_icon",
"label": "Icon",
"default": "#000"
},
{
"type": "color",
"id": "dropdown_icon_hover",
"label": "Icon hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "dropdown_bg",
"label": "Background",
"default": "#fff"
},
{
"type": "color",
"id": "dropdown_link",
"label": "Links",
"default": "#000"
},
{
"type": "color",
"id": "dropdown_hover_link",
"label": "Link hover",
"default": "#35b8f4"
},
{
"type": "header",
"content": "Search Block"
},
{
"type": "color",
"id": "search_icon",
"label": "Icon",
"default": "#000"
},
{
"type": "color",
"id": "search_icon_hover",
"label": "Icon hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "search_bg",
"label": "Background",
"default": "#fff"
},
{
"type": "color",
"id": "search_text",
"label": "Text",
"default": "#000"
},
{
"type": "color",
"id": "Btn_text",
"label": "Btn Text",
"default": "#000"
},
{
"type": "color",
"id": "search_btn_hover",
"label": "Btn Text Hover",
"default": "#000"
},
{
"type": "color",
"id": "search_btn_bg",
"label": "Btn Bg",
"default": "#000"
},
{
"type": "color",
"id": "search_btn_bghover",
"label": "Btn Bg Hover",
"default": "#000"
},

{
"type": "header",
"content": "Cart Block"
},
{
"type": "color",
"id": "minicart_count",
"label": "Count Text",
"default": "#000"
},

{
"type": "color",
"id": "minicart_icon_hover",
"label": "Icon hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "minicart_bg",
"label": "Background",
"default": "#fff"
},
{
"type": "color",
"id": "minicart_text",
"label": "Text",
"default": "#000"
},
{
"type": "color",
"id": "minicart_link",
"label": "Link",
"default": "#000"
},
{
"type": "color",
"id": "minicart_link_hover",
"label": "Link hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "minicart_btn_bg",
"label": "Button background",
"default": "#000"
},
{
"type": "color",
"id": "minicart_btn_hover_bg",
"label": "Hover background",
"default": "#000"
},
{
"type": "color",
"id": "minicart_btn_text",
"label": "Button text",
"default": "#000"
},
{
"type": "color",
"id": "minicart_btn_hover_text",
"label": "Hover text",
"default": "#000"
},
{
"type": "color",
"id": "minicart_total",
"label": "Cart Total",
"default": "#000"
},  
{
"type": "header",
"content": "Menu Block"
},
{
"type": "color",
"id": "menubar_bg",
"label": "Background",
"default": "#fff"
},  
{
"type": "color",
"id": "menubar_links",
"label": "Links",
"default": "#000"
},
{
"type": "color",
"id": "menubar_links_hover",
"label": "Hover links",
"default": "#000"
},
{
"type": "color",
"id": "menu_active",
"label": "Active menu",
"default": "#35b8f4"
},
{
"type": "color",
"id": "menubar_dropdown_bg",
"label": "Dropdown menu background",
"default": "#fff"
},
{
"type": "color",
"id": "menubar_dropdown_caption",
"label": "Dropdown menu title",
"default": "#000"
},
{
"type": "color",
"id": "menubar_dropdown_caption_hover",
"label": "Dropdown menu title hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "menubar_dropdown_links",
"label": "Dropdown menu links",
"default": "#000"
},
{
"type": "color",
"id": "menubar_dropdown_links_hover",
"label": "Dropdown menu links hover",
"default": "#35b8f4"
}
]
}
{% endschema %}

{% javascript %}

if (jQuery.cookie('headerTop') == 'closed') {
jQuery('.header-top').fadeOut();
}

jQuery('.header-top a.close').bind('click',function(){
jQuery('.header-top').fadeOut();
jQuery.cookie('headerTop', 'closed', {expires:-1, path:'/'});
});  
{% endjavascript %}