<div data-section-id="{{ section.id }}"  data-section-type="newsletter-block news-block-3" class="newsletter-block news-block-3 parallax" style="{% if section.settings.image_1 != blank %}background-image:url('{{ section.settings.image_1 | img_url: '1920X' }}');background-repeat:no-repeat;background-size:cover;background-position:center;{% else %}background-color:{{section.settings.news_bg_clr}}{% endif%};">  
  <div class="newsletter-block-type-3 ">
    <div class="overlay"></div>
    <div class="container">
      {% if section.settings.title != blank %}
      <div class="border-title wow fadeInUp animated">
        {% if section.settings.subtitle != blank %}                        
        <h6 class="small-title" style="color:{{section.settings.subtitle_color }}">{{ section.settings.subtitle }}</h6>        
        {% endif %}  
        <h2 class="newslet_title " style="color:{{ section.settings.title_color }};">
          {{ section.settings.title }}
        </h2>
        {% endif %}       
        {% if section.settings.news_desc != blank %}
        <p  class="" style="color:{{section.settings.text_color}}"> {{ section.settings.news_desc }}</p>
        {% endif %}

      </div>
      <div class="mc-embedded-subscribe-form">
      {% if settings.newsletter_form_action != blank %}
      <form action="{{ settings.newsletter_form_action }}" method="post"  name="mc-embedded-subscribe-form" target="_blank" class="input-group wow fadeInUp animated">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" class="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
        <button type="submit" class="btn subscribe" name="subscribe" value="" > {{ section.settings.button }}</button>    
      </form>
      {% else %}
      {% form 'customer' %}
      {% if form.posted_successfully? %}
      <p class="note form-success">{{ 'general.newsletter_form.mailing_list_success_message' | t }}</p>
      {% else %}
      
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" class="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" >
        <input type="hidden" name="contact[tags]" value="newsletter">
        <button type="submit" class="btn subscribe" name="subscribe" value="" >{{ section.settings.button }}</button>          
      
      {% endif %}
      {{ form.errors | default_errors }}
      {% endform %}  
      {% endif %}
    </div>
    </div>
  </div>
  <style>
    .newsletter-block-type-3 form input[type="email"]{ background:{{section.settings.input_bg_color}};color:{{section.settings.input_txt_color}};}
    .newsletter-block-type-3 form input[type="email"]:focus{border-bottom:1px solid {{ section.settings.input_bg_color | color_modify: 'alpha', 0.5 }};background-color:{{ section.settings.input_bg_color | color_modify: 'alpha', 0.5 }}; }

    .newsletter-block-type-3 form input[type="email"]::-webkit-input-placeholder {  color:{{ section.settings.input_txt_color}};}
    .newsletter-block-type-3 form input[type="email"]:-moz-placeholder { color:{{ section.settings.input_txt_color }};}
    .newsletter-block-type-3 form input[type="email"]::-moz-placeholder {  color:{{ section.settings.input_txt_color }};}
    .newsletter-block-type-3 form input[type="email"]:-ms-input-placeholder {  color:{{ section.settings.input_txt_color }};}
    .newsletter-block-type-3 form input[type="email"] { color:{{ section.settings.input_txt_color}}; }
    
    
    
    {% if section.settings.show_overlay_bg %}
    .newsletter-block.news-block-3::before{background:{{section.settings.news_bg_clr}};}
    {% endif %}




  </style>
</div>
<div class="dt-sc-hr-invisible-large"></div>

{% schema %}
{
"name": "Newsletter",
"class": "index-section",  
"settings": [
{
"type": "image_picker",
"id": "image_1",
"label": "Image",
"info": "Size: 1920x1200"
},
{
"type": "checkbox",
"id": "show_overlay_bg",
"label":"Show Overlay bg Color"

},
{
"type": "color",
"id": "news_bg_clr",
"label": "Bg Color",
"default": "#000"
},
{
"type": "text",
"id": "subtitle",
"label": "Sub Heading",
"default": "Newsletter"
},
{
"type": "color",
"id": "subtitle_color",
"label": "Sub Heading",
"default": "#000"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Newsletter"
},
{
"type": "text",
"id": "news_desc",
"label": "Desc",
"default": "Newsletter"
},

{
"type": "color",
"id": "title_color",
"label": "Heading",
"default": "#000"
},
{
"type": "color",
"id": "input_bg_color",
"label": "Input Bg color",
"default": "#000"
},
{
"type": "color",
"id": "input_txt_color",
"label": "Input Text color",
"default": "#000"
},
{
"type": "color",
"id": "text_color",
"label": "Description",
"default": "#000"
},
{
"type": "text",
"id": "button",
"label": "Button",
"default": "Subscribe"
}



],  
"presets": [
{
"name": "Newsletter",
"category": "Form",
"blocks": [ ]
}
]
}
{% endschema %}