{% if section.settings.display_top_adv_bar %}   
<div class="notification_bar header-top {% if section.settings.display_top_adv_bar_mobile %} medium-down--hide {% endif %}" style="{% if section.settings.notification_bar_bg_img != blank %}background-image:url('{{ section.settings.notification_bar_bg_img | img_url:'1920x' }}');background-repeat:no-repeat;background-size:cover;background-position:center;{% else %}background-color:{{ section.settings.notification_bar_bg }};{% endif %}">    
  <div class="top-text-container ">        
    <div class="container">

      <div class="promo_section"> 
        {% if section.settings.notification_discount != blank  or section.settings.notification_discount_txt != blank or section.settings.notification_text != blank %}
        <div class="notification_text">
          {% if section.settings.notification_discount != blank %} <h2 style="color:{{ section.settings.notification_discount_clr }}">{{ section.settings.notification_discount }} </h2>{% endif %} 
          <div class="notify_discount">
            {% if section.settings.notification_discount_txt != blank %}  <p style="color:{{ section.settings.notification_discount_text_clr }}">{{ section.settings.notification_discount_txt }} </p>{% endif %} 
            {% if section.settings.notification_text != blank %}   <h4 style="color:{{ section.settings.notification_text_clr }}">{{ section.settings.notification_text }}</h4>{% endif %} 
          </div>
        </div>
        {% endif %}
        {% if section.settings.notification_promo_txt != blank or section.settings.notification_promo_code != blank  %}
        <div class="notification_promo_code">
          <p style="color:{{ section.settings.notification_promo_txt_clr }}">{{ section.settings.notification_promo_txt }} </p>
          <h6 style="color:{{ section.settings.notification_promo_code_clr }}">{{ section.settings.notification_promo_code }} </h6>
        </div>
        {% endif %}

        {% if section.settings.notification_linktxt != blank %} <div class="notification_promobtn"> <a class="btn" href="{{section.settings.header_notification_link }}">{{ section.settings.notification_linktxt }}</a> </div> {% endif %}    

      </div>

    </div>
    <a href="javascript:void(0)" class="close"><i class="zmdi zmdi-close"></i></a>
  </div>
</div>


{% endif %}

{% if section.settings.display_top_bar %}    

<div class="top_bar top-bar-type-10">    
  <div class="container">
    {% if section.settings.header_phone_value != blank or  section.settings.header_mail_value != blank %}
    <ul class="top_bar_left">
      {% if section.settings.header_phone_value != blank %}
      <li><i class="fa fa-phone"></i> {{ section.settings.header_phone_value }}</li>
      {% endif %}
      {% if section.settings.header_mail_value != blank %}
      <li><i class="fa fa-envelope"></i> <a href="mailto:{{ section.settings.header_mail_value }}"> {{ section.settings.header_mail_value }}</a></li>
      {% endif %}
    </ul>
    {% endif %}

    {% if section.settings.store_location != blank or  section.settings.track_your_order != blank or settings.display_currency %}
    <ul class="top_bar_right">
      {% if section.settings.store_location != blank %}
      <li> <a href="{{ section.settings.store_location_link }}"> {{ section.settings.store_location }}</a></li>
      {% endif %}
      {% if section.settings.track_your_order != blank %}
      <li><a href="{{ section.settings.track_your_order_link }}"> {{ section.settings.track_your_order }}</a></li>
      {% endif %}
      {% if settings.display_currency %}   
      <li class="header_currency">
        <ul class="tbl-list">                    
          <li class="currency dropdown-parent uppercase currency-block">
            {% include 'currencies-switcher' %}
          </li>
        </ul>
      </li>        
      {% endif %}


    </ul>
    {% endif %}
  </div>
</div>  
{% endif %}

<style>
   /* Top block */
    .header-type-11 .top_bar { background: {{ section.settings.top_bar_bg }}; }
    .header-type-11 .top_bar li { color:{{section.settings.top_bar_text}};}     
    .header-type-11 .top_bar a,.header-type-10 .top_bar button { color:{{section.settings.top_bar_links }};}    
    .header-type-11 .top_bar a:hover, .header-type-10 .top_bar a:hover span,.header-type-10 .top_bar button:hover,.header-type-10 li.init.dt-sc-toggle:hover  { color:{{section.settings.top_bar_link_hover }};}    

  
    .header-type-11 .header-top a.close { background: {{ section.settings.stripe_icon }};color: {{ section.settings.stripe_icon_color }}; }  
    .header-type-11 .header-top a.close:hover { background: {{ section.settings.stripe_icon_hover }};;color: {{ section.settings.stripe_icon_hover_color }}; }  
    .header-type-11 .header-top { background: {{ section.settings.stripe_bg }}; }      
    .header-type-11 .header-top ul li { color: {{ section.settings.stripe_text }}; }    

   .notification_promobtn .btn {background:{{section.settings.top_bar_btn_bg}};color:{{section.settings.top_bar_btn_txt}};border:none;}


    .notification_promobtn .btn:hover {background:{{section.settings.top_bar_btn_hoverbg}};color:{{section.settings.top_bar_btn_hovertxt}};}
 /* Currency block */

    .header-type-11 .header_currency ul select {color:{{section.settings.currency_icon}};}   
    .header-type-11 .header_currency ul select:hover {color:{{section.settings.currency_icon_hover}};}  
    .header-type-11 .header_currency ul li.currency:hover:after {border-top-color:{{section.settings.currency_icon_hover}};}
    .header-type-11 .header_currency ul li.currency:after,.header-type-10 li.init.dt-sc-toggle:after {color:{{section.settings.currency_icon}};}
    .header-type-11 .header_currency option {background:{{section.settings.currency_bg}};color:{{section.settings.currency_link}};}


  
  {% if section.settings.show_topbar_overlay %}  .header-type-11 .header-top::before { background:{{section.settings.overlay_bg_clr}};} {% endif %}
  
  
  
  

</style>

{% schema %}
  {
    "name": "Top Bar",
    "settings": [
{
"type":"checkbox",
"id": "show_topbar_overlay",
"label": "Show Top Bar Overlay"	
},
{
"type": "color",
"id": "overlay_bg_clr",
"label": "Overlay Bg Background",
"default": "#fff"
},
{
"type":"checkbox",
"id": "display_top_adv_bar",
"label": "Top Notification Bar"	
},
{
"type":"checkbox",
"id": "display_top_adv_bar_mobile",
"label": "Hide Notification Bar on Mobile"	
},
{
"type":"checkbox",
"id": "display_top_bar",
"label": "Display topbar"	
},
{
"type": "header",
"content": "Notifcation Bar"
},
{
"type": "color",
"id": "notification_bar_bg",
"label": "Background",
"default": "#fff"
},
{
"type": "image_picker",
"id": "notification_bar_bg_img",
"label": "Background Image"
},
{
"type": "color",
"id": "stripe_icon",
"label": "close Icon",
"default": "#fff"
},
{
"type": "color",
"id": "stripe_icon_color",
"label": "close Icon",
"default": "#000"
},
{
"type": "color",
"id": "stripe_icon_hover",
"label": "close Icon Bg Hover",
"default": "#ffe491"
},
{
"type": "color",
"id": "stripe_icon_hover_color",
"label": "close Icon Hover",
"default": "#fff"
},

{
"type": "text",
"id": "notification_discount",
"label": "Notification Discount",
"default": "50% OFF"
}, 
{
"type": "color",
"id": "notification_discount_clr",
"label": "Notification Discount Color",
"default": "#fff"
},

{
"type": "text",
"id": "notification_discount_txt",
"label": "Notification Discount Text",
"default": "Discount"
}, 
{
"type": "color",
"id": "notification_discount_text_clr",
"label": "Notification Discount Text Color",
"default": "#fff"
},

{
"type": "text",
"id": "notification_text",
"label": "Notification text",
"default": "Long Weekend Sale Up to 50% OFF"
},  
{
"type": "color",
"id": "notification_text_clr",
"label": "Notify Text",
"default": "#fff"
},
{
"type": "text",
"id": "notification_promo_txt",
"label": "Promo text",
"default": "Enter Prmotion Code"
}, 
{
"type": "color",
"id": "notification_promo_txt_clr",
"label": "Promo text Color",
"default": "#000"
}, 
{
"type": "text",
"id": "notification_promo_code",
"label": "Promo Code",
"default": "Sale2017"
}, 
{
"type": "color",
"id": "notification_promo_code_clr",
"label": "Promo Code Color",
"default": "#000"
}, 


{
"type": "text",
"id": "notification_linktxt",
"label": "Notification Link Text",
"default": "Shop Now"
}, 

{
"type": "color",
"id": "top_bar_btn_bg",
"label": "Top bar Button Bg",
"default": "#fff"
},
{
"type": "color",
"id": "top_bar_btn_txt",
"label": "Top bar Button Text",
"default": "#fff"
},
{
"type": "color",
"id": "top_bar_btn_hoverbg",
"label": "Top bar Button Hover Bg",
"default": "#fff"
},
{
"type": "color",
"id": "top_bar_btn_hovertxt",
"label": "Top bar Button Hover Text",
"default": "#fff"
},
{
"type": "text",
"id": "header_notification_link",
"label": "Link",
"default": "/collections/all"
},
{
"type": "color",
"id": "top_bar_bg",
"label": "Top bar background",
"default": "#fff"
},
{
"type": "color",
"id": "top_bar_text",
"label": "Top bar text",
"default": "#000"
},
{
"type": "color",
"id": "top_bar_links",
"label": "Top bar links",
"default": "#000"
},
{
"type": "color",
"id": "top_bar_link_hover",
"label": "Top bar links hover",
"default": "#35b8f4"
},
{
"type": "header",
"content": "Border Block"
},
{
"type": "color",
"id": "top_border_between_bars",
"label": "Border lines",
"default": "#e4e4e4"
},
{
"type": "text",
"id": "header_phone_value",
"label": "Phone number",
"default": "(00) 000 111 222"
},    
{
"type": "text",
"id": "header_mail_value",
"label": "Mail address",
"default": "info@somedomain.com"
},  
{
"type": "text",
"id": "store_location",
"label": "Text",
"default": "Store Location"
},  
{
"type": "url",
"id": "store_location_link",
"label": "Link"

},  
{
"type": "text",
"id": "track_your_order",
"label": "Text",
"default": "Track Your Order"
},  
{
"type": "url",
"id": "track_your_order_link",
"label": "Link"

},  
{
"type": "header",
"content": "Currency Block"
},

{
"type": "color",
"id": "currency_icon",
"label": "Current Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "currency_icon_hover",
"label": "Text hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "currency_bg",
"label": "Current Background",
"default": "#fff"
},
{
"type": "color",
"id": "currency_link",
"label": "Currency Links",
"default": "#000"
}

]
  }
{% endschema %}

{% javascript %}

if (jQuery.cookie('headerTop') == 'closed') {
jQuery('.header-top').fadeOut();
}

jQuery('.header-top a.close').bind('click',function(){
jQuery('.header-top').fadeOut();
jQuery.cookie('headerTop', 'closed', {expires:-1, path:'/'});
});  
{% endjavascript %}