<div data-section-id="{{ section.id }}" data-section-type="wide-banner-type-4" class="wide-banner-type-4">  
  <div class="grid-uniform">  

    <div class="wide-banner-type-4-block parallax" style=" {% if section.settings.image != blank %} background-image:url('{{ section.settings.image | img_url: '1920X' }}');background-repeat:no-repeat;background-size:cover {% else %}background-color:{{section.settings.background_color}};{% endif%}">
      <div class="wide-banner-type-4-content wow fadeInUp animated">    

        {% if section.settings.icon_cls != blank %}
        <h4 class="small-icon " style="color:{{section.settings.icon_color}};background:{{section.settings.title_bg_clr}}">{{section.settings.icon_cls}}</h4>
        {% endif %} 


        {% if section.settings.title != blank %}
        <h2 style="color:{{ section.settings.title_color }};">{{ section.settings.title }}</h2>
        {% endif %} 

        {% if section.settings.text != blank %}
        <p style="color:{{ section.settings.text_color }}">{{ section.settings.text }}</p>
        {% endif %}

        {% if section.settings.button != blank %}
        <a  href="{{ section.settings.link }}" style="color:{{ section.settings.button_txt_color }};background:{{section.settings.button_bg_color}}" class="btn">{{ section.settings.button }}</a>    
        {% endif %}         
      </div> 

    </div> 

  </div>
</div>  
<style>
  {% if section.settings.show_gradient_clr != blank %}
  #shopify-section-{{section.id}} .wide-banner-type-4 .wide-banner-type-4-block::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(to right, {{section.settings.overlay_gradient_secondary_bg}} 0%, {{section.settings.overlay_gradient_bg}} 100%);
  }
  {% endif %}      



  #shopify-section-{{section.id}} .wide-banner-type-4-content a.btn:hover{background:{{section.settings.button_bg_hover_color}}!important;color:{{section.settings.button_text_hover_color}} !important;}
</style>



{% schema %}
{
"name": "Wide Banner",
"class": "index-section",
"settings": [

{
"type": "image_picker",
"id": "image",
"label": "Image",
"info": "Size: 1920x1280"
},
{
"type": "color",
"id": "background_color",
"label":"Bckground color",
"default": "#000"
},
{
"type": "text",
"id": "icon_cls",
"label": "Main Heading"
},
{
"type": "color",
"id": "icon_color",
"label":"Main Heading Color",
"default": "#000"
},
{
"type": "color",
"id": "title_bg_clr",
"label": "Title bg Color",
"default":"#000"	
}, 
{
"type": "text",
"id": "title",
"label": "Sub Heading"
},
{
"type": "color",
"id": "title_color",
"label":"Sub Heading Color",
"default": "#000"
},
{
"type": "textarea",
"id": "text",
"label": "Description"
},
{
"type": "color",
"id": "text_color",
"label":"Description color",
"default": "#000"
},
{
"type": "text",
"id": "button",
"label": "Button text"
},
{
"type": "color",
"id": "button_bg_color",
"label":"Background bg color",
"default": "#000"
},
{
"type": "color",
"id": "button_bg_hover_color",
"label":"Background hover bg",
"default": "#000"
},
{
"type": "color",
"id": "button_txt_color",
"label":"Text color",
"default": "#fff"
},
{
"type": "color",
"id": "button_text_hover_color",
"label":"Background hover text",
"default": "#000"
},
{
"type": "url",
"id": "link",
"label": "Link URL"
},
{
"type": "checkbox",
"id": "show_gradient_clr",
"label": "Show Gradient Color"
},
{
"type": "color",
"id": "overlay_gradient_bg",
"label":"Background Gradient Color",
"default": "#000"
},
{
"type": "color",
"id": "overlay_gradient_secondary_bg",
"label":"Background Gradient Secondary Color",
"default": "#000"
}
],
"presets": [
{
"name": "Wide Banner",
"category": "Image",
"blocks": []
}
]
}
{% endschema %}


